.controls .outs{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.controls .outs button{
  border: none;
  border-radius: 10px;
  background: #2a9d8f;
  padding: .5rem;
  color: #fff;
  width: 200px;
}
.controls .outs span{
  font-weight: bold;
  font-size: 1.5rem;
}
.controls .divider{
  height: 2px;
  width: 100%;
  background: #666;
  margin: 1rem 0;
}
.controls .runs{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.controls .runs .runs-title{
  font-weight: bold;
  color: #666;
}
.controls .runs .btns img{
  margin-right: 1rem;
}